{% extends 'header.html' %}
{% load static %}
{% block head %}
<style>
    .bg-img {
        background: url("{% static 'images/header.JPEG'%}");
        height: 500px;
        background-size: 100% 100%;
    }

    .trans {
        background: rgba(10, 8, 69, 0.5);
    }

    #icon1,
    #icon2,
    #icon3 {
        font-size: 30px;
        padding-top: 20px;
    }

    .mid2-img {
        background: url("{% static 'images/header.JPEG'%}");
        background-size: cover;
    }
</style>
{% endblock %}
</head>
{% block myblock%}
<section>
    <div class="container-fluid">
        <div class="row bg-img">
            <div class="col-md-12 text-center text-white trans">
                <h1 class="" style="margin-top:300px;">Contact Us</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388.340744257153!2d75.25050581449261!3d31.87015028697663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391bea1ec4633a9b%3A0x6649433b4035c052!2sMallu%20Dwara%2C%20Punjab%20143518!5e0!3m2!1sen!2sin!4v1591709055015!5m2!1sen!2sin"
                    height="400px" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="row mt-5">
            <h1>Get in Touch</h1>
        </div>
        <div class="row">
            <div class="col-md-8 px-0">
                <form action="" method="POST" class="mt-1">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea style="height: 120px;" name="message" class="form-control"
                            placeholder="Message"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control mt-3" placeholder="Enter your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="email" class="form-control mt-3" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control mt-3" placeholder="Enter Subject">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-warning p-3" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home ml-5 text-secondary" id="icon1"></i>
                <span class="pl-2 font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>

                <i class="fas fa-mobile ml-5 text-secondary" id="icon2"></i>
                <span class="pl-2 font-weight-bold">&nbsp;+1 253 565 2365</span>
                <p class="text-secondary" style="padding-left: 95px;">Mon to Fri 9am to 6pm</p>

                <i class="fas fa-envelope ml-5 text-secondary" id="icon3"></i>
                <span class="pl-2 font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mid2-img">
            <div class="col-md-6 text-white trans">
                <h1 class="pl-3 my-5 py-4">Add your Propery for Sale</h1>
            </div>
            <div class="col-md-3 text-white text-center trans">
                <h5 class="my-5 py-5">+10 637 367 4567</h5>
            </div>
            <div class="col-md-3 text-white text-center trans pt-5">
                <button class="btn btn-outline-light rounded-pill my-5">Add Property</button>
            </div>
        </div>
    </div>
</section>
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
{% endblock %}