{% extends 'header.html' %}
{% load static %}
{% block head %}
<style>
    #icon1,
    #icon2,
    #icon3 {
        display: inline-block;
    }

    .icon {
        color: orange;
    }

    #btn1:hover {
        color: white
    }

    .mid2-img {
        background: url("{% static 'images/header.JPEG'%}");
        background-size: cover;
    }

    .trans {
        background: rgba(10, 8, 69, 0.5);
    }

    s
</style>
{% endblock %}

{% block myblock %}
<div class="container-fluid" style="background-color: rgb(54, 63, 192); height: 600px; width: 100%;">
    <div style="background: rgba(0,0,0,0.5); height: 100%; width: 100%;">
        <div class="row">
            <div class="col-md-8 text-white">
                <h2 class="mt-5 ml-5 pt-5 pl-5" id="one">Comfortable Apartment in Palace</h2>
                <p class="ml-5 pl-5"><i class="fas fa-map-marker-alt"></i> <span>{{property.property_name}}</span></p>
                <ul type="none">
                    <li id="icon1">
                        <i class="fas fa-cube ml-3 mt-5 pl-5 icon"></i>
                        <p class="ml-3 pl-5 mt-2">{{property.area}} Sqft</p>
                    </li>
                    <li id="icon2">

                        <i class="fas fa-bed ml-3 mt-5 pl-5 icon"></i>
                        <p class="ml-3 pl-5 mt-2">{{property.no_of_bedroom}} Bed</p>
                    </li>
                    <li id="icon3">
                        <i class="fas fa-bath ml-3 mt-5 pl-5 icon"></i>
                        <p class="ml-3 pl-5 mt-2">{{property.no_of_bathroom}} Bath</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h1 class="text-danger ml-2 mt-5 pl-5 pt-5">&#8377; {{property.sale_price}}</h1>
                <button class="btn btn-outline-warning rounded-pill ml-5 mt-3 pr-5 pl-5" id="btn1">+10 637 367
                    4567</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="background-color: transparent; position: relative;bottom: 200px;">
        <div class="col-md-12 p-5">
            <div class="carousel slide" data-ride="carousel" id="mycar">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                            <img src="/media/{{property.property_images}}" height="700px" width="100%" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                            <img src="/media/{{property.image1}}" height="700px" width="100%" alt="">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                            <img src="/media/{{property.image2}}" height="700px" width="100%" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                            <img src="/media/{{property.image3}}" height="700px" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#mycar" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#mycar" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="position: relative; bottom: 200px;">
        <div class="col-md-12 text" style="font-family: arial;">
            <h4 class="text-center">Description</h4>
            <p class="text-center">{{property.details}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>PROPERTY ID</th>
                        <td>{{property.id}}</td>
                    </tr>
                    <tr>
                        <th>PROPERTY Name</th>
                        <td>{{property.property_name}}</td>
                    </tr>
                    <tr>
                        <th>Market Price</th>
                        <td><del>&#8377; {{property.property_price}}</del></td>
                    </tr>
                    <tr>
                        <th>Offered Price</th>
                        <td>&#8377; {{property.sale_price}}
                            <script>
                                let t = "{{property.property_price}}";
                                let s = "{{property.sale_price}}";
                                let dis = 100 - ((s / t) * 100);
                                document.write("<strong class='text-danger'>(" + Math.round(dis, 2) + "%)</strong>");
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th>Booking Amount</th>
                        <td>&#8377; {{property.booking_amount}}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{property.city}}</td>
                    </tr>
                    <tr>
                        <th>Property Status</th>
                        <td>{{property.property_status}}</td>
                    </tr>
                    <tr>
                        <th>Property Area</th>
                        <td>{{property.area}}</td>
                    </tr>
                    <tr>
                        <th>Bathrooms</th>
                        <td>{{property.no_of_bathroom}}</td>
                    </tr>
                    <tr>
                        <th>Bedrooms</th>
                        <td>{{property.no_of_bedroom}}</td>
                    </tr>
                    <tr>
                        <th>Aircondition</th>
                        {% if property.is_air_conditioning %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif  %}
                    </tr>
                    <tr>
                        <th>gym</th>
                        {% if property.is_gym %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif  %}
                    </tr>
                    <tr>
                        <th>Laundary</th>
                        {% if property.is_laundry_room %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>TV Cable</th>
                        {% if property.is_tv_cable %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Wifi</th>
                        {% if property.is_wifi %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Parking</th>
                        {% if property.is_parking %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Swimming Pool</th>
                        {% if property.is_swimming_pool %}
                        <td class="alert alert-success"><i class="fas fa-check-square text-success"></i></td>
                        {% else %}
                        <td class="alert alert-danger"><i class="fas fa-times-circle text-danger"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Balconies</th>
                        <td>{{property.Balconies}}</td>
                    </tr>
                    <tr>
                        <th>Owner Details</th>
                        <td><a href="" class="btn btn-success" data-toggle="modal" data-target="#m"> Click Here</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Pay To Book property</th>
                        <td>
                            <form action="{% url 'process_payment' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="hidden" value="{{property.id}}" name="pid">
                                        <input type="hidden" value="{{property.booking_amount}}" name="amt">
                                        <input type="hidden" value="{{property.property_name}}" name="pnm">
                                        <button type="submit"
                                            class="btn btn-outline-light btn-block text-light bg-success p-2">
                                            <b>{{property.booking_amount}} <i class="fa fa-shopping-cart"></i>
                                                Add To Cart book property</b>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal fade overflow-auto" id="m">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="text-center">
                    Seller Detail
                </h2>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>First Name</th>
                        <td>{{property.seller.first_name}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{property.seller.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Email Name</th>
                        <td>{{property.seller.email}}</td>
                    </tr>
                    <tr>
                        <th>Joined Since</th>
                        <td>{{property.seller.date_joined}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-5 py-5" style="position: relative; bottom: 100px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388.340744257153!2d75.25050581449261!3d31.87015028697663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391bea1ec4633a9b%3A0x6649433b4035c052!2sMallu%20Dwara%2C%20Punjab%20143518!5e0!3m2!1sen!2sin!4v1591709055015!5m2!1sen!2sin"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Contact Us</h4>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="Your email">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="phone no.">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
                </div>

                <button type="submit" class="btn btn-block" style="background-color: orange;">Sign in</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="row mid2-img">
        <div class="col-md-6 text-white trans">
            <h1 class="pl-3 my-5 py-4">Add your Propery for Sale</h1>
        </div>
        <div class="col-md-3 text-white text-center trans">
            <h5 class="my-5 py-5">+10 637 367 4567</h5>
        </div>
        <div class="col-md-3 text-white text-center trans pt-5">
            <button class="btn btn-outline-light rounded-pill my-5">Add Property</button>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/all_properties"; 
</script>
{% endif %}
{% endblock %}